<a href="https://colab.research.google.com/github/dlawjd65/python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Padndas 기초**
pandas는 표형태의 데이터를 다루는 라이브러리

In [ ]:
import pandas as pd

s = pd.Series([10, 20, 30, 40, 50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
h = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(h)
print(h['b'])

a    10
b    20
c    30
dtype: int64
20

In [ ]:
data = {
    'name' : ['Kim', 'Lee', 'Park', 'Choi'],
    'age' : [25, 30, 35, 28],
    'city' : ['Seoul', 'Busan', 'Seoul', 'Daegu']
}
df = pd.DataFrame(data)
print(df)

   name  age   city
0   Kim   25  Seoul
1   Lee   30  Busan
2  Park   35  Seoul
3  Choi   28  Daegu

In [ ]:
students = pd.DataFrame({
    'name':['김철수', '이영희', '박민수'],
    'age': [20, 21, 22],
    'grade':['A', 'B', 'A']
})

print(students)
print("/n컬럼:", students.colums.tolist())

  name  age grade
0  김철수   20     A
1  이영희   21     B
2  박민수   22     A

AttributeError: 'DataFrame' object has no attribute 'colums'