<a href="https://colab.research.google.com/github/dlawjd65/python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Padndas 기초**<br>
pandas는 표형태의 데이터를 다루는 라이브러리



*   pd.Series()<br>
*   index=[]
*   columns.tolist()
*   index.tolist()
*   .shape

In [33]:
import pandas as pd

s = pd.Series([10, 20, 30, 40, 50], index=[1, 2, 3, 4, 5])
print(s)

1    10
2    20
3    30
4    40
5    50
dtype: int64

index=['a', 'b', 'c']<br>
인덱스 이름 바꿔주는 함수

In [8]:
h = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(h)
print(h['b'])

a    10
b    20
c    30
dtype: int64
20

**1.딕셔너리 안에 리스트** 형태로 데이터 생성<br>
- 키값이 자동으로 colum이 됨<br>
- 인덱스 자동 지정

In [26]:
data = {
    'name' : ['Kim', 'Lee', 'Park', 'Choi'],
    'age' : [25, 30, 35, 28],
    'city' : ['Seoul', 'Busan', 'Seoul', 'Daegu']
}
df = pd.DataFrame(data)
print(df)
print(df.columns.tolist())

   name  age   city
0   Kim   25  Seoul
1   Lee   30  Busan
2  Park   35  Seoul
3  Choi   28  Daegu
['name', 'age', 'city']

- 변수명.columns.tolist()
  - 컬럼을 출력하는 함수

- 변수명.index.tolist()
  - 인덱스를 출력하는 함수

- 변수명.shape
  - 데이터의 크기 출력

In [22]:
students = pd.DataFrame({
    'name':['김철수', '이영희', '박민수'],
    'age': [20, 21, 22],
    'grade':['A', 'B', 'A']
})

print(students)
print("\n컬럼: ", students.columns.tolist())
print("index: ", students.index.tolist())
print("크기: ", students.shape)

  name  age grade
0  김철수   20     A
1  이영희   21     B
2  박민수   22     A
크기:  (3, 3)

**2. 리스트 안에 리스트**<br>
변수명.columns=['a', 'b', 'c']<br>
열 이름 지정

In [25]:
data1 = [
    ['Kim', 25, 'Seoul'],
    ['Lee', 30, 'Busan'],
    ['Park', 35, 'Seoul']
]

df1 = pd.DataFrame(data1, columns=['name', 'age', 'city'])
print("리스트로:\n", df1)
print(df1.columns.tolist())

# print(data1.columns.tolist()) -> error
#

리스트로:
    name  age   city
0   Kim   25  Seoul
1   Lee   30  Busan
2  Park   35  Seoul
['name', 'age', 'city']

**3. 리스트 안에 딕셔너리**<br>

In [37]:
data2 = [
    {'name': 'Kim', 'age': 25, 'city': 'Seoul'},
    {'name': 'Lee', 'age': 30, 'city': 'Busan'},
    {'name': 'Park', 'age': 35, 'city': 'Seoul'}
]
df2 = pd.DataFrame(data2, index=['K', 'L', 'P'])
print("\n리스트 안에 딕셔너리:\n", df2)
print(df2.columns.tolist())
print(df2.shape)
print(df2.index.tolist())

리스트 안에 딕셔너리:
    name  age   city
K   Kim   25  Seoul
L   Lee   30  Busan
P  Park   35  Seoul
['name', 'age', 'city']
(3, 3)
['K', 'L', 'P']

고급 예제: 시계열 DataFrame

2.3 CSV 파일 읽고 쓰기 ⭐ 매우 중요